# App
PORT=8000

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/itlms

# JWT
JWT_ACCESS_TOKEN_SECRET=your-access-token-secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME=1h
JWT_REFRESH_TOKEN_SECRET=your-refresh-token-secret
JWT_REFRESH_TOKEN_EXPIRATION_TIME=7d

# Cloudflare R2 Storage
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=

# AmoCRM
AMOCRM_DOMAIN_NAME=
AMOCRM_ACCESS_TOKEN=

# Bitrix24
BITRIX_WEBHOOK_URL=

# Online PBX
ONLINE_PBX_DOMAIN=
ONLINE_PBX_API_KEY=
